pyrogram~=1.2.9
Pillow~=8.3.1
requests~=2.25.1
SQLAlchemy~=1.4.21
python-arq==6.0.5
pyromod
psycopg2
wget
asyncio
datetime
aiofiles
youtube_dl
aiohttp
yt_dlp
opencc
youtube_search
pytube
Python_ARQ
TgCrypto
aiofiles
dnspython
python-dotenv
psutil
heroku3
regex!=2021.8.27
cachetools==5.1.0
uvloop==0.16.0
pytz==2022.1
dateparser==1.1.1
gpytranslate==1.4.0
EmojiCaptcha==0.1.2
captcha==0.4 
googletrans==3.1.0a0
telegraph==2.1.0
pyyaml==5.4

